# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Flask instance folder
instance/

# Database files
*.db
*.sqlite
# *.sql

# Virtual environment
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log

# OS specific files
.DS_Store
Thumbs.db 